<div id="wrapper">
    <!-- content -->	
    <div class="content">
     
        <!-- breadcrumbs end -->
        <!-- col-list-wrap -->
        <section class="gray-bg small-padding ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-info smpar fl-wrap">
                            <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                            <div class="show-more-snopt-tooltip bxwt">
                                <a href="#"> <i class="fas fa-comment-alt"></i> Write a review</a>
                                <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                            </div>
                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                <div class="bg" ><img [src]="'http://localhost:3000/getimage/'+actualite.image"></div>
                            </div>
                            
                            <div class="card-info-content">
                                <div class="agent_card-title fl-wrap">
                                    <h4> {{actualite.titre}}</h4>
                                    <div class="geodir-category-location fl-wrap">
                                        <h5><a href="agency-single.html"></a></h5>
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"><span class="re_stars-title"></span></div>
                                    </div>
                                </div>
                                <div class="list-single-stats">
                                    <ul class="no-list-style">
                                        <li><span class="viewed-counter"><i class="fas fa-calendar"></i>{{actualite.date |date }} </span></li>
                                      </ul>
                                </div>
                                <div class="card-verified tolt" data-microtip-position="left"><i class=""></i></div>
                            </div>
                        </div>
                        <div class="list-single-main-container fl-wrap">
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title">
                                    <h3>Description</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p> {{actualite.des}}</p>
                                   
                                </div>
                            </div>
                            <!-- list-single-main-item end -->             						
                        </div>
                   
                    </div>
                    
						
                </div>
            </div>
            <div class="limit-box fl-wrap"></div>
        </section>
    </div>
    <!-- content end -->	

 
</div>
<app-footer></app-footer>
