<div class="dashbard-menu-wrap">
    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
    <div class="dashbard-menu-container">
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Main</h3>
            <ul class="no-list-style">
                <li><a routerLink="/dashboard_admin"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                <li><a routerLink="/dashboard_admin/edit_profile"><i class="fal fa-user-edit"></i> Modifier profile</a></li>
                <li><a routerLink="/dashboard_admin/message"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
         
            </ul>
        </div>
        <!-- user-profile-menu end-->
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Mes maisons</h3>
            <ul  class="no-list-style">
                <li><a routerLink="/dashboard_admin/actualite" class="user-profile"><i class="fal fa-th-list"></i> liste des actualités  </a></li>
                <li><a routerLink="/dashboard_admin/users"> <i class="fal fa-users"></i> liste des utilisateurs <span>3</span></a></li>
                <li><a href="/dashboard_admin/coordonnee"> <i class="fal fa-file-plus"></i> Coordonnée <span>3</span></a></li>
    
                </ul>
        </div>
        <!-- user-profile-menu end--> 
    </div>
    <div class="dashbard-menu-footer"> &#169;  Homeradar 2022 .  All rights reserved.</div>