<div class="dashbard-menu-wrap">
  <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
  <div class="dashbard-menu-container">
      <!-- user-profile-menu-->
      <div class="user-profile-menu">
          <h3>Main</h3>
          <ul class="no-list-style">
              <li><a href="/dashboard_pro"><i class="fal fa-chart-line"></i>Dashboard</a></li>
              <li><a href="dashboard-myprofile.html"><i class="fal fa-user-edit"></i> Modifier profile</a></li>
              <li><a href="dashboard-messages.html"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
       
          </ul>
      </div>
      <!-- user-profile-menu end-->
      <!-- user-profile-menu-->
      <div class="user-profile-menu">
          <h3>Mes maisons</h3>
          <ul  class="no-list-style">
              <li><a href="/dashboard_pro/listemaison" class="user-profile"><i class="fal fa-th-list"></i> liste des maisons  </a></li>
              <li><a href="dashboard-bookings.html"> <i class="fal fa-calendar-check"></i> Reservations <span>3</span></a></li>
              <li><a href="/dashboard_pro/ajoutmaison"> <i class="fal fa-file-plus"></i> Ajouter maison <span>3</span></a></li>
  
              </ul>
      </div>
      <!-- user-profile-menu end--> 
  </div>
  <div class="dashbard-menu-footer"> &#169;  Homeradar 2022 .  All rights reserved.</div>
</div>